.home-container-1{
    min-height: 100vh;
    min-width: 1250px;
    width: 100%;
    display: flex;
    margin: 0;
}
.home-container-2{
    min-height: 100vh;
    min-width: 1200px;
    width: calc(100% - 300px);
    box-sizing: border-box;
}